*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #d1d1d1;
    font-family: Verdana;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #222;
    overflow-x: hidden;
}

#main{
    position: relative;
    background-color: #222;
}

#ful-scr-nav{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    position: absolute;
    top: -100vh;
    color: #222;
    transition: all ease 1s;
    z-index: 99;
}

#ful-scr-nav h4{
    color: #222;
    font-size: 5vw;
    margin-left: 10vw;
    line-height: vh;
    transition: all ease 1s;
}

#ful-scr-nav h1{
    color: #222;
    font-size: 10vw;
    padding: 90px 70px;
    transition: all ease 1s;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 50px;
    position: absolute;
    z-index: 999;
    transition: all ease 1s;
}

#nav h2{
    font-size: 30px;
    transition: all ease 1s;
    text-transform: uppercase;
}

#nav #nav-ptr2{
    display: flex;
    align-items: center;
    transition: all ease 1s;
}

#nav-ptr2 h3{
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all ease 1s;
}

#nav-ptr2 i{
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
    transition: all ease 1s;
}

#page1{
    min-height: 85vh;
    width: 100vw;
    position: relative;
}

#page1 h1{
    position: absolute;
    font-size: 13vw;
    top: 21vh;
    letter-spacing: 15px;
    left: 5.5vw;
}

#page1 h2{
    position: absolute;
    font-size: 3.1vw;
    top: 50vh;
    left: 18vw;
    line-height: 2.6vw;
    width: 38vw;
}

#page1 h3{
    position: absolute;
    font-size: 1vw;
    top: 58vh;
    left: 70vw;
    line-height: 0.95vw;
    width: 11vw;
}

#page2 img{
    width: 100vw;
    position: relative;
    left: 50vw;
    transform: translate(-50%,0) scale(0.9);
}

#page2{
    position: relative;
    min-height: 100vh;
    padding-bottom: 20vh;
}

#page2 h1{
    font-size: 35px;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

#page2 h1 span{
      font-family: "Playwrite CA", cursive;
}

#page4{
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

#page4>h1{
    padding: 10px 20px;
    width: 78vw;
    line-height: 10vh;
    font-size: 10vh;
    /* background-color: #faeefa; */
}

#page4 #page4-item{
    position: relative;
    display: flex;
    margin-top: 50px;
    width: 100vw;
    height: 30vh;
}

#page4-item1{
    width: 70vw;
    padding: 10px 30px;
    font-size: 7vh;
    text-transform: uppercase;
    border: 1px solid #d1d1d1;
}
#page4-item2{
    width: 30vw;
    padding: 50px 10px;
    font-size: 4vh;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}
#page5-content {
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1670171796071-dc966359202e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100vw;
}

#page5-content h1 {
    position: absolute;
    width: 60vw;
    justify-content: center;
    text-align: center;
    top: 180vh;
    left: 45vw;
    transform: translate(-50vh , -50vw);
    margin-right: auto;
}

#page5-content h1 span{
     font-family: "Playwrite CA", cursive;
}


#page6 h1{
    font-size: 14vw;
    text-transform: uppercase;
    line-height: 23vh;
}

#page6 h1 .one2{
    color: transparent;
    -webkit-text-stroke: 1px #d1d1d1;
}

#page6 .slide2-of-h1 h1{
    transform: translateX(-100%);
}

/* #page6{
    width: 100vw;
    height: 100vh;
    background-color: red;
}
#page6 h1{
    font-size: 14vh;
    line-height: 12vh;
    text-transform: uppercase;
}



::-webkit-scrollbar{
    display: none;
}
#page6 .slide2-of-h1{
    cursor: default;
    overflow-y: hidden;
    overflow-x: auto;
}

 */